<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Image Scraper</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">


</head>

<body>
    <div>
        <%- body %>
    </div>
</body>

</html>